2025/10/3Ky4b5KetrpdMB8k.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-04T13:41:37.814Z",
    "createdAt": "2025-12-04T13:41:37.814Z",
    "versionId": "f5c2aec5-9498-48ce-b39f-ed211b262525",
    "workflowId": "3Ky4b5KetrpdMB8k",
    "nodes": [
      {
        "parameters": {
          "workflow": "={\n  \"3\": {\n    \"inputs\": {\n      \"seed\": 667695413377717,\n      \"steps\": 20,\n      \"cfg\": 8,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"normal\",\n      \"denoise\": 1,\n      \"model\": [\n        \"4\",\n        0\n      ],\n      \"positive\": [\n        \"6\",\n        0\n      ],\n      \"negative\": [\n        \"7\",\n        0\n      ],\n      \"latent_image\": [\n        \"5\",\n        0\n      ]\n    },\n    \"class_type\": \"KSampler\",\n    \"_meta\": {\n      \"title\": \"K采样器\"\n    }\n  },\n  \"4\": {\n    \"inputs\": {\n      \"ckpt_name\": \"NetaYumev35_pretrained_all_in_one.safetensors\"\n    },\n    \"class_type\": \"CheckpointLoaderSimple\",\n    \"_meta\": {\n      \"title\": \"Checkpoint加载器（简易）\"\n    }\n  },\n  \"5\": {\n    \"inputs\": {\n      \"width\": 512,\n      \"height\": 512,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptyLatentImage\",\n    \"_meta\": {\n      \"title\": \"空Latent图像\"\n    }\n  },\n  \"6\": {\n    \"inputs\": {\n      \"text\": \"{{ $json['输入'] }}\",\n      \"clip\": [\n        \"4\",\n        1\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP文本编码\"\n    }\n  },\n  \"7\": {\n    \"inputs\": {\n      \"text\": \"text, watermark\",\n      \"clip\": [\n        \"4\",\n        1\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP文本编码\"\n    }\n  },\n  \"8\": {\n    \"inputs\": {\n      \"samples\": [\n        \"3\",\n        0\n      ],\n      \"vae\": [\n        \"4\",\n        2\n      ]\n    },\n    \"class_type\": \"VAEDecode\",\n    \"_meta\": {\n      \"title\": \"VAE解码\"\n    }\n  },\n  \"9\": {\n    \"inputs\": {\n      \"filename_prefix\": \"ComfyUI\",\n      \"images\": [\n        \"8\",\n        0\n      ]\n    },\n    \"class_type\": \"SaveImage\",\n    \"_meta\": {\n      \"title\": \"保存图像\"\n    }\n  }\n}"
        },
        "type": "n8n-nodes-comfyui.comfyui",
        "typeVersion": 1,
        "position": [
          224,
          16
        ],
        "id": "5c530dbd-7f20-431d-85eb-f43626ea31c2",
        "name": "ComfyUI",
        "credentials": {
          "comfyUIApi": {
            "id": "rEbmVqMmWrfGz3IS",
            "name": "ComfyUI account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.3,
        "position": [
          -224,
          16
        ],
        "id": "cd31d6fa-dedf-4c32-891d-fe5ab5960879",
        "name": "When chat message received",
        "webhookId": "7104283c-a466-4916-88a7-51a95243cb58"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e4a8eaa4-4d88-4fb4-ac16-94dcba11557a",
                "name": "输入",
                "value": "={{ $json.chatInput }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          16
        ],
        "id": "1490a2fd-ac0e-4377-b3d6-4b71aff2ee4f",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "ComfyUI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ComfyUI": {
        "main": [
          []
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "f5c2aec5-9498-48ce-b39f-ed211b262525",
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-10-25T14:23:18.285Z",
  "id": "3Ky4b5KetrpdMB8k",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n-comfyui",
  "nodes": [
    {
      "parameters": {
        "workflow": "={\n  \"3\": {\n    \"inputs\": {\n      \"seed\": 667695413377717,\n      \"steps\": 20,\n      \"cfg\": 8,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"normal\",\n      \"denoise\": 1,\n      \"model\": [\n        \"4\",\n        0\n      ],\n      \"positive\": [\n        \"6\",\n        0\n      ],\n      \"negative\": [\n        \"7\",\n        0\n      ],\n      \"latent_image\": [\n        \"5\",\n        0\n      ]\n    },\n    \"class_type\": \"KSampler\",\n    \"_meta\": {\n      \"title\": \"K采样器\"\n    }\n  },\n  \"4\": {\n    \"inputs\": {\n      \"ckpt_name\": \"NetaYumev35_pretrained_all_in_one.safetensors\"\n    },\n    \"class_type\": \"CheckpointLoaderSimple\",\n    \"_meta\": {\n      \"title\": \"Checkpoint加载器（简易）\"\n    }\n  },\n  \"5\": {\n    \"inputs\": {\n      \"width\": 512,\n      \"height\": 512,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptyLatentImage\",\n    \"_meta\": {\n      \"title\": \"空Latent图像\"\n    }\n  },\n  \"6\": {\n    \"inputs\": {\n      \"text\": \"{{ $json['输入'] }}\",\n      \"clip\": [\n        \"4\",\n        1\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP文本编码\"\n    }\n  },\n  \"7\": {\n    \"inputs\": {\n      \"text\": \"text, watermark\",\n      \"clip\": [\n        \"4\",\n        1\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP文本编码\"\n    }\n  },\n  \"8\": {\n    \"inputs\": {\n      \"samples\": [\n        \"3\",\n        0\n      ],\n      \"vae\": [\n        \"4\",\n        2\n      ]\n    },\n    \"class_type\": \"VAEDecode\",\n    \"_meta\": {\n      \"title\": \"VAE解码\"\n    }\n  },\n  \"9\": {\n    \"inputs\": {\n      \"filename_prefix\": \"ComfyUI\",\n      \"images\": [\n        \"8\",\n        0\n      ]\n    },\n    \"class_type\": \"SaveImage\",\n    \"_meta\": {\n      \"title\": \"保存图像\"\n    }\n  }\n}"
      },
      "type": "n8n-nodes-comfyui.comfyui",
      "typeVersion": 1,
      "position": [
        224,
        16
      ],
      "id": "5c530dbd-7f20-431d-85eb-f43626ea31c2",
      "name": "ComfyUI",
      "credentials": {
        "comfyUIApi": {
          "id": "rEbmVqMmWrfGz3IS",
          "name": "ComfyUI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        16
      ],
      "id": "cd31d6fa-dedf-4c32-891d-fe5ab5960879",
      "name": "When chat message received",
      "webhookId": "7104283c-a466-4916-88a7-51a95243cb58"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4a8eaa4-4d88-4fb4-ac16-94dcba11557a",
              "name": "输入",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        16
      ],
      "id": "1490a2fd-ac0e-4377-b3d6-4b71aff2ee4f",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "repo_name": "n8nbak",
  "repo_owner": "wodaili-kingpwf",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-25T14:23:18.295Z",
      "createdAt": "2025-10-25T14:23:18.295Z",
      "role": "workflow:owner",
      "workflowId": "3Ky4b5KetrpdMB8k",
      "projectId": "bhYbeEidmtHtdTx7"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-26T18:01:29.000Z",
  "versionId": "f5c2aec5-9498-48ce-b39f-ed211b262525"
}