2025/12/NRFRzOWjKoueGZrg.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-06T04:51:01.864Z",
    "createdAt": "2025-12-06T04:51:01.864Z",
    "versionId": "ef47519e-8375-4955-9aac-89c5be0cbd4f",
    "workflowId": "NRFRzOWjKoueGZrg",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-wechat-offiaccount.wechatOfficialAccountNode",
        "typeVersion": 1,
        "position": [
          832,
          -160
        ],
        "id": "0162a077-cc85-421f-8c3a-d9ac924936a4",
        "name": "Media:uploadOther media"
      },
      {
        "parameters": {
          "fileSelector": "/Users/linqun/Desktop/screenshot-20240212-145039.png",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          624,
          -160
        ],
        "id": "d8cebbf8-5cfb-4009-947c-79e86e2bbf73",
        "name": "Read/Write Files from Disk"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          304,
          -160
        ],
        "id": "d9a05c76-1e09-4a1f-a6a3-23402d160191",
        "name": "AI Agent"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-wechat-offiaccount.wechatOfficialAccountNode",
        "typeVersion": 1,
        "position": [
          1056,
          -160
        ],
        "id": "77a89fc2-b109-4827-8252-01db49fdd24e",
        "name": "Draft:add draft"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "32644d9d-cc91-4085-8dd9-4fa53eb4b7cb",
                "name": "chatInput",
                "value": "={{ $json.chatInput }}，帮我生成html片段的公众号文章，排版美观，直接生成不要包含其他内容",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          112,
          -160
        ],
        "id": "697e0069-492f-42d2-baed-79f8abb64725",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "gpt-4.1"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          32,
          144
        ],
        "id": "a0789506-6abb-4b31-9292-77f4fd6f8642",
        "name": "OpenAI Chat Model"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.3,
        "position": [
          -80,
          -160
        ],
        "id": "12072a04-5ceb-4cc9-bb62-2163b572cc46",
        "name": "When chat message received",
        "webhookId": "a3cf9403-4023-4ede-8abe-11300a452a55"
      },
      {
        "parameters": {
          "model": "=deepseek-chat",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          240,
          80
        ],
        "id": "cbfe494a-e251-4b21-8fad-b0d34be5cf01",
        "name": "DeepSeek Chat Model",
        "credentials": {
          "deepSeekApi": {
            "id": "67LLJe53T38aEcOy",
            "name": "DeepSeek account"
          }
        }
      }
    ],
    "connections": {
      "Read/Write Files from Disk": {
        "main": [
          [
            {
              "node": "Media:uploadOther media",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Media:uploadOther media": {
        "main": [
          [
            {
              "node": "Draft:add draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Read/Write Files from Disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          []
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "文峰 彭",
    "name": null,
    "description": null
  },
  "activeVersionId": "ef47519e-8375-4955-9aac-89c5be0cbd4f",
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Media:uploadOther media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media:uploadOther media": {
      "main": [
        [
          {
            "node": "Draft:add draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-05T12:31:10.153Z",
  "id": "NRFRzOWjKoueGZrg",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-wechat-offiaccount.wechatOfficialAccountNode",
      "typeVersion": 1,
      "position": [
        832,
        -160
      ],
      "id": "0162a077-cc85-421f-8c3a-d9ac924936a4",
      "name": "Media:uploadOther media"
    },
    {
      "parameters": {
        "fileSelector": "/Users/linqun/Desktop/screenshot-20240212-145039.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        624,
        -160
      ],
      "id": "d8cebbf8-5cfb-4009-947c-79e86e2bbf73",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        304,
        -160
      ],
      "id": "d9a05c76-1e09-4a1f-a6a3-23402d160191",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-wechat-offiaccount.wechatOfficialAccountNode",
      "typeVersion": 1,
      "position": [
        1056,
        -160
      ],
      "id": "77a89fc2-b109-4827-8252-01db49fdd24e",
      "name": "Draft:add draft"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32644d9d-cc91-4085-8dd9-4fa53eb4b7cb",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}，帮我生成html片段的公众号文章，排版美观，直接生成不要包含其他内容",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -160
      ],
      "id": "697e0069-492f-42d2-baed-79f8abb64725",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        144
      ],
      "id": "a0789506-6abb-4b31-9292-77f4fd6f8642",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -160
      ],
      "id": "12072a04-5ceb-4cc9-bb62-2163b572cc46",
      "name": "When chat message received",
      "webhookId": "a3cf9403-4023-4ede-8abe-11300a452a55"
    },
    {
      "parameters": {
        "model": "=deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        240,
        80
      ],
      "id": "cbfe494a-e251-4b21-8fad-b0d34be5cf01",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "67LLJe53T38aEcOy",
          "name": "DeepSeek account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8nbak",
  "repo_owner": "wodaili-kingpwf",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-05T12:31:10.158Z",
      "createdAt": "2025-12-05T12:31:10.158Z",
      "role": "workflow:owner",
      "workflowId": "NRFRzOWjKoueGZrg",
      "projectId": "bhYbeEidmtHtdTx7"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-06T04:51:01.000Z",
  "versionId": "ef47519e-8375-4955-9aac-89c5be0cbd4f"
}